
h2{
  color: #0e0e0e;
  margin: 0
}

.form-control{
  height: 45px !important;
  border: 1px solid #c1c1c1 !important;
  width: 100% !important;
  padding: 0 15px !important;
  color: #000 !important;
  background-color: transparent !important;
  transition: all 0.25s linear !important;
  box-shadow: whitesmoke !important;
}

.order{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.product{
  display: flex;
  flex-direction: column;
}

.price{
  display: flex;
  align-items: flex-start;
  margin: 5px;
}

.td{
  font-weight: bold;
  font-family: Rozetka, BlinkMacSystemFont, -apple-system, Arial, Segoe UI, Roboto, Helvetica, sans-serif;
  margin-top: 5px !important;
}
.orders{
  margin-top: 25px;
}


