<div class="cabinet-section section">
  <div class="spacer-xl style-2"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="sectionTitle">
          <h2 class="">Особистий кабінет</h2>
        </div>
        <div class="accordion" id="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                Історія замовлень
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordion">
              <div class="accordion-body text-center">
                <p>Ви ще нічого не заказували</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Персональні дані
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                 data-bs-parent="#accordion">
              <div class="accordion-body inputBlocks">
                <form [formGroup]="infoForm" (ngSubmit)="confirmInfo()">
                  <div class="mb-3">
                    <label for="inputFirstName" class="form-label">Ваше ім`я</label>
                    <input type="text" class="form-control" formControlName="firstname" id="inputFirstName">
                  </div>
                  <div class="mb-3">
                    <label for="inputLastName" class="form-label">Ваше прізвище</label>
                    <input type="text" class="form-control" formControlName="lastname" id="inputLastName">
                  </div>
                  <div class="mb-3">
                    <label for="inputPhone" class="form-label">Телефон</label>
                    <input type="text" class="form-control" formControlName="phone" id="inputPhone">
                  </div>
                  <div class="mb-3">
                    <label for="inputAddress" class="form-label">Ваш адрес</label>
                    <input type="text" class="form-control" formControlName="address" id="inputAddress">
                  </div>
                  <div class="d-flex justify-content-around w-100">
                    <button type="button" class="btn btn-outline-success" (click)="confirmInfo()">Зберегти</button>
                    <button type="button" class="btn btn-outline-danger" (click)="dismissInfo()">Відмінити</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class="d-flex justify-content-end mt-5">
  <button type="button" class="btn btn-danger" (click)="signOut()">Вийти</button>

</div>
    </div>
  </div>
</div>

