<section class="containerP">
  <div class="container-md d-flex background mt-3" *ngFor="let product of userProducts | slice: 0: 1">
    <div class="leftContainer col-8">
      <div class="imageContainer">
        <img [src]="product.imagePath" alt="...">
      </div>
      <div class="paymentRef background" id="payment">
        <a routerLink="/payment" routerLinkActive="active"
           class="text-decoration-none d-flex flex-column justify-content-center mx-5 align-items-center">
          <img src="./assets/img/payment-m.png" style="width: 50px; height: 50px" alt="...">
          <span class="text-decoration-none">Оплата</span>
        </a>
        <a href="" class="text-decoration-none d-flex flex-column justify-content-center mx-5 align-items-center">
          <img src="./assets/img/truck-m.png" style="width: 50px; height: 40px" alt="...">
          <span class="text-decoration-none">Доставка</span>
        </a>
        <a href="" class="text-decoration-none d-flex flex-column justify-content-center mx-5 align-items-center">
          <img src="/assets/img/ribbon-m.png" style="width: 50px; height: 50px" alt="...">
          <span>Гарантія</span>
        </a>
      </div>
    </div>
    <div class="infoContainer col-4">
      <div class="headProd">
        <h2>{{ product.name }}</h2>
        <hr>
      </div>
      <div>
        <span class="text-capitalize">Воу! Вартість знизилась:</span>
        <div>
          <span class="mx-1">{{ product.price * 1.5 / 29}} $</span>
          <span class="mx-1">{{ product.price * 1.5 }} UAH</span>
        </div>
        <div class="cur">
          <span class="mx-1 fw-bold fs-3">{{ product.price }} UAH</span>
          <span class="mx-1 fw-bold fs-6">{{ product.price / 29}} $</span>
        </div>
      </div>
      <hr>
      <div class="prod-color-block">
        <span>Колір пристрою : </span>
        <div class="mt-3">
          <a class="text-decoration-none">
            <label for="color-check" class="prod-color" style="background-color: #000000"></label>
          </a>
          <a class="text-decoration-none">
            <label for="color-check" class="prod-color" style="background-color: #3DA0C2"></label>
          </a>
          <a class="text-decoration-none">
            <label for="color-check" class="prod-color" style="background-color: #ffffff"></label>
          </a>
          <a class="text-decoration-none">
            <label for="color-check" class="prod-color" style="background-color: #ffe677"></label>
          </a>
          <a class="text-decoration-none">
            <label for="color-check" class="prod-color" style="background-color: #ffa500"></label>
          </a>
        </div>
      </div>
      <hr>
      <div class="cart-prod-opt">
        <div class="mb-2">
          <span>Рекомендуємо до покупки:</span>
        </div>
        <div class="form-check form-switch align-baseline">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Гарантія 1 рік від Грушки</label>
        </div>
      </div>
      <hr>
      <button type="button" class="btn btn-dark w-100 mb-3" (click)="addToBasket(product)">Купити</button>
    </div>
  </div>
</section>

<section class="descriptionBlock">
  <h2>Description</h2>
  <div class="container-md background mt-3">
    <h3 class="text-center  mt-3">Чи варто купити ?</h3>
  </div>
