<div class="containerA">
    <div class="nav nav-pills mobilePills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link" type="button" [routerLink]="[ 'admin-category' ]" routerLinkActive="active">Категорія
      </button>
      <button class="nav-link" type="button" [routerLink]="[ 'admin-subcategory' ]" routerLinkActive="active">Підкатегорія
      </button>
      <button class="nav-link" type="button" [routerLink]="[ 'admin-products' ]" routerLinkActive="active">Продукти
      </button>
      <button class="nav-link" type="button" [routerLink]="[ 'admin-orders' ]" routerLinkActive="active">Замовлення
      </button>
      <hr>
      <button class="btn btn-outline-danger" type="button" (click)="signOut()">Вийти</button>
    </div>
    <div class="col-10">
      <div class="tab-content contentAdmin">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

