<div class="container-sm">
    <h1 class="text-center my-3">Xiaomi</h1>
    <p>Xiaomi — китайська компанія, заснована Лей Цзюнем у 2010 році. Спеціалізується на виробництві електронної техніки, в першу чергу смартфонів та інших «розумних пристроїв». У 3-му кварталі 2014 року Xiaomi, за даними дослідника ринку IHS iSuppli, вперше у своїй історії вийшла на третє місце в світі з продажу смартфонів (після Samsung і Apple).</p>
    <h3 class="text-center">
        Оплату можна здійснити двома способами:
    </h3>
    <div>
        <ul class="list-group">
            <li class="my-3 ">На картку  :  <span>  Оплата здійснюється завчасно перед відправкою товару</span> </li>
            <li class="my-1">Готівкою  :  <span>  Ви оплачуєте товар після отримання, кур'єрові або на відділенні пошти</span></li>
        </ul>
    </div>
</div>
